header {
    display: inline-block;
    vertical-align: middle;

    padding-top: 10px;
    border-top: 1px solid @fg;
}

.header-name {
    .letter-spacing(@spacing) {
        letter-spacing: @spacing;
        padding-left: @spacing;
    }

    margin: 0;

    font-weight: @solomon-light;
    font-size: 22pt;
    .letter-spacing(6pt);
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 500px) {
        font-size: 40pt;
    }
    @media (min-width: 720px) {
        font-size: 55pt;
        .letter-spacing(12pt);
    }
    @media (min-width: 1400px) {
        font-size: 80pt;
        .letter-spacing(18pt);
    }
}

.header-sub {
    margin: 5px 0 0;

    font-weight: @solomon-bold;
    font-size: 9pt;
    text-transform: uppercase;
    text-align: center;

    overflow: hidden;

    &:before,
    &:after {
        background-color: @fg;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    &:before {
        right: 0.5em;
        margin-left: -50%;
    }

    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}
