nav {
    position: fixed;
    top: @body-padding;
    left: @body-padding;
    right: @body-padding;

    font-size: 10pt;
    font-weight: @solomon-bold;
    text-transform: uppercase;
}

.nav {
    display: table;
    border-spacing: 0;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: table-cell;

    &:before {
        display: inline-block;
        width: 15px;
    }
}

.nav-social {
    text-align: left;

    &:before {
        content: "\25B6";
    }

    &.is-open:before {
        content: "\25B2";
    }
}

.nav-mgmt {
    text-align: right;

    &:after {
        content: "\25BC";
    }

    &.is-open:after {
        content: "\25B2";
    }
}

.nav-item-link {
    &,
    &:hover,
    &:visited {
        color: @fg;
        text-decoration: underline;
    }

    &.is-open {
        visibility: hidden;
        letter-spacing: -999px;
        &:before {
            visibility: visible;
            content: "CLOSE";
            letter-spacing: normal;
        }
    }
}
