@social-break: 720px;

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: @body-padding;

    font-size: 10pt;
    font-weight: @solomon-bold;
    text-transform: uppercase;

    @media (min-width: @social-break) {
        border-bottom: 1px solid @fg;
    }
}

.nav {
    display: table;
    border-spacing: 0;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: table-cell;

    &:before {
        content: "\25BC";
        display: inline-block;
        width: 15px;
    }

    &.is-open:before {
        content: "\25B2";
    }
}

.nav-social {
    text-align: left;

    @media (min-width: @social-break) {
        display: none;
    }
}

.nav-follow {
    text-align: left;

    display: none;
    @media (min-width: @social-break) {
        display: table-cell;
    }
}

.nav-mgmt {
    text-align: right;

    &:before {
        float: right;
    }
}

.nav-item-link {
    &,
    &:hover,
    &:visited {
        color: @fg;
        text-decoration: underline;
    }

    &.is-open {
        visibility: hidden;
        letter-spacing: -999px;
        &:before {
            visibility: visible;
            content: "CLOSE";
            letter-spacing: normal;
        }
    }
}

.nav-follow-link {
    padding-left: 10px;

    &,
    &:hover,
    &:visited {
        color: @fg;
        text-decoration: none;
    }

    font-weight: normal;
    &:hover {
        font-weight: @solomon-bold;
    }

    &:after {
        content: " \2197";
    }
}

.main-content#social {
    @media (min-width: @social-break) {
        display: none;
    }
}
