@import "core/core.less";
@import "core/fonts.less";

html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0 @body-padding;
    font-family: "solomon", arial, san-serif;
    color: @fg;
    min-width: 280px;
    text-align: center;

    &:after {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

a, a:hover, :visited {
    color: @fg;
    text-decoration: underline;
}

@import "components/header.less";
