@import "core/core.less";
@import "core/fonts.less";

html {
    background: url('../images/bg.jpg') no-repeat right center fixed;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0 @body-padding;
    min-width: 280px;

    font-family: "solomon", arial, san-serif;
    font-size: 9pt;
    color: @fg;
    text-align: center;

    &:after {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

a {
    &,
    &:hover,
    &:visited {
        color: #825038;
        text-decoration: underline;
    }
}

@import "components/header.less";
@import "components/nav.less";
@import "components/main.less";
@import "components/footer.less";
